<div class="container mt-2">
  <h2>Cadastrar novos carros</h2>
  
  <form #carroForm="ngForm" (ngSubmit)="salvar()">
    <div class="mb-3">
      <label for="marca" class="form-label">Marca:</label>
      <input [(ngModel)]="carro.marca" class="form-control" id="marca" name="marca" required>
    </div>
  
    <div class="mb-3">
      <label for="nome" class="form-label">Modelo:</label>
      <input [(ngModel)]="carro.nome" class="form-control" id="nome" name="nome" required>
    </div>
  
    <div class="mb-3">
      <label for="quilometragem" class="form-label">Quilometragem:</label>
      <input [(ngModel)]="carro.quilometragem" class="form-control" id="quilometragem" name="quilometragem" required>
    </div>
  
    <div class="mb-3">
      <label for="ano" class="form-label">Ano:</label>
      <input [(ngModel)]="carro.ano" class="form-control" id="ano" name="ano" required>
    </div>
  
    <div class="mb-3">
      <label for="preco" class="form-label">Valor:</label>
      <input type="number" [(ngModel)]="carro.preco" class="form-control" id="preco" name="preco" required>
    </div>
  
    <div class="mb-3">
      <label for="dataValidade" class="form-label">Data de entrada:</label>
      <input type="date" [(ngModel)]="carro.dataValidade" class="form-control" id="dataValidade" name="dataValidade" required>
    </div>
  
    <div class="mb-3">
      <label for="imagemUrl" class="form-label">Link da Imagem:</label>
      <input [(ngModel)]="carro.imagemUrl" class="form-control" id="imagemUrl" name="imagemUrl" required>
    </div>
  
    <div class="mb-3">
      <label for="vendedorId" class="form-label">Vendedor Responsável:</label>
      <select [(ngModel)]="carro.vendedorId" class="form-control" id="vendedorId" name="vendedorId" required>
        <option *ngFor="let vendedor of vendedores" [value]="vendedor.id">{{vendedor.nome}}</option>
      </select>
    </div>
  
    <button type="submit" class="btn btn-primary me-3" [disabled]="!carroForm.form.valid">{{botaoAcao}}</button>
    <button type="button" class="btn btn-secondary" (click)="voltar()">Voltar</button>
  </form>
</div>
