<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/garagemlogo2.png" alt="Garagem Vitória" height="80">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/carros">Veículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tabela">Controle de veículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vendedores">Vendedores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">📞 (53)3025-2565</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
